section {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
}

h2 {
    text-align: left;
}

.music-body {
    padding-top: 10px;
}

.track-list {
    width: 100%;
    margin: 0 auto;

}

.track {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
    margin: 5px 0;
}

.track div {
    display:flex;
    flex-direction: column;
    padding-left: 5px;
    text-align: left;
}

.track-image {
    width: 50px;
    height: 50px
}

.track-name {
    font-weight: bold;
    font-size: 14px;
}

.artist-name {
    font-size: 12px;
    padding-bottom: 10px;
}

.popularity {
    font-size: 12px;
    margin-left: auto;
    white-space: nowrap;
    padding-left: 10px;
}

.artist-images {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
}

.item-info {
    border: 1px solid black;
    padding: 5px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-images img {
    width: 50%;
    min-width: 150px;
    max-width: 300px;
}

.type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
}

.sort-button, .login-button {
    background-color: #1ED760;
    color: white;
    outline: none;
    transition: 1s ease;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.sort-button:hover, .login-button:hover {
    background-color: #228B22;
}