.login {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
}

.login p {
    padding-bottom: 10px;
}

.login-button a {
    padding: 20px 40px;
    text-decoration: none;
}

.login-button a:visited {
    color: white;
}